.artigocard_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 4rem;
    padding: 5%;
    background: linear-gradient(to bottom,rgb(0, 0, 104),blue) ;
}

.artigocard-img_container {
    margin: 0 1rem;
    margin-bottom: 1rem;
    width: 30rem;
    height: auto
}

.artigocard-img_container > img {
    width: 100%;
}

.artigocard-conteudo_container {
    margin:  0 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.artigocard-titulo_container {
    margin-bottom: 1rem;
}