.elemento{
    margin: 1rem 0;
}

.img-elemento_container > img {
    width: 100%;
    height: auto;
}
h2{
    font-size: 1.9em;
}
p{
    font-size: 1.5em;
}

.youtube-elemento_container{
    height:"250"; 
    width:"500"
}