<div class="elemento" *ngIf="elementoTipo == 'h2'">
  <h2>{{ elementoConteudo }}</h2>
</div>
<div class="elemento" *ngIf="elementoTipo == 'h3'">
  <h3>{{ elementoConteudo }}</h3>
</div>
<div class="elemento" *ngIf="elementoTipo == 'p'">
  <p>{{ elementoConteudo }}</p>
</div>
<div class="img-elemento_container elemento" *ngIf="elementoTipo">
  <img src="{{ elementoConteudo }}" alt="{{ elementoAlt }}" />
</div>
<div *ngIf="elementoTipo == 'youtubeVideo'">
  <div *ngIf="screen.matches; else screenElse">
    <youtube-player
      videoId="{{ elementoConteudo }}"
      [width]="300"
      [height]="200"
    ></youtube-player>
  </div>
  <ng-template #screenElse>
    <youtube-player
      videoId="{{ elementoConteudo }}"
      [width]="1300"
      [height]="500"
    ></youtube-player>
  </ng-template>
</div>
