.cardstyle {
    box-shadow: 0 4px 50px 0  blue;
    transition: 0.8s;
    width: 20%;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 black;

  }
  
  .container {
    padding: 2px 30px;
    color: black;
    background-color: white;
    width: 80%;
  }
.cardimg{
    width: 100%;
    background-color: white;
}