
<header>
    <div class="div2">
    <img class="img1" src="./../../../assets/logo.png" alt="">
    <h1>LegionGames</h1>
    </div>

    <Nav>
        <div class="navbar" class="div1" >
            <a accesskey="1" aria-label="Inicio" href="index.html">Inicio</a>
            <a accesskey="2" aria-label="Jogos com acessibilidade" routerLink="games">Jogos com acessibilidade</a>
            <a accesskey="3" aria-label="Softwares e Hardwares">Softwares e Hardwares</a>
            <a accesskey="4" aria-label="Contato" href="Contato.html">Contato</a>
        </div>        
    </Nav>
</header>
