
<header>
    <div class="div2">
    <img class="img1" src="https://i.imgur.com/TIIe4hk.png"  alt="">
    <h1>LegionGames</h1>
    </div>

    <Nav>
        <div class="navbar div1" >
            <a accesskey="1" aria-label="Inicio" routerLink="">Inicio</a>
            <a accesskey="2" aria-label="Jogos com acessibilidade" routerLink="games">Jogos com acessibilidade</a>
            <a accesskey="3" aria-label="Softwares e Hardwares" routerLink="softhard">Softwares e Hardwares</a>
            <a accesskey="4" aria-label="Contato" routerLink="contato">Contato</a>
        </div>        
    </Nav>
</header>
