<artigo
  artigoImagem="https://i.imgur.com/U1JCZe1.jpg"
  artigoImageAlt="Controles e acessórios com acessibilidade da marca Microsoft/Xbox."
  artigoDescImage="Imagem retirada do site da Microsoft/Xbox."
  artigoTitulo="Hardwares e Softwares para acessibilidade."
  [artigoDescricoes]="[
    'Para as pessoas que não tem limitação fisica ou mental, é facil usar controles convencionais,apertar os botões facilmente, conseguir mexer normalmente no menu do jogo. Mas quem possui limitações acaba se tornando algo muito dificil, para a solução desses problemas houve a necessidade de criar ferramentas de softwares e Hardwares para acessibilidade.',
    'Entre muitas ferramentas existentes, separamos algumas de software e hardware que são muito utilizadas no mercado e pela comunidade. Confira abaixo.'
  ]"
></artigo>
<artigo
  artigoImagem="https://i.imgur.com/Aq0a4Cc.png"
  artigoImageAlt="Dois controles de consoles, lado esquerdo do Playstation 5, lado direito do Atari."
  artigo
  artigoDescImage="Montagem feita por nos com os controles da Playstation e Atari."
  artigoTitulo="Joystick."
  [artigoDescricoes]="[
    'O Joystick é um dos hardwares que ajudou as pessoas com deficiencia motora a utilizar os computadores e consoles de maneira mais facil, embora já existisse antes nos helicopteros, planadores e nas cadeiras motorizadas. Teve a sua maior utilização no mundo dos jogos, um exemplo disso é o nosso queridissimo Joystick Atari, que foi um dos primeiros joysticks digitais composto por um simples botão de disparo e uma haste.',
    'Conforme evolução tivemos novos consoles, novas tecnologias o Joystick teve sua evolução ele adquiriu um novos botões, gatilhos, visual e etc. A nova geração de consoles tambem pensou na comunidade e resolveu fabricar controles que atendesse a vontade do publico.'
  ]"
></artigo>
<artigo
  artigoImagem="https://i.imgur.com/nClWs85.png"
  artigoImageAlt="Imagem da ferramenta Quadstick acessórios de acessibilidade. "
  artigoDescImage="Imagem retirada do site da QuadStick."
  artigoTitulo="QuadStick."
  [artigoDescricoes]="[
    'O QuadStick tem mesmo proposito que o Joystick embora não seja operado pelas mãos e sim pela boca e pela voz da pessoa que estiver utilizando. O aparelho tem a sua orientação por quatro sensores de sopro e sucção, um sensor de posição labial e um interruptor, conectados a um proceessador que transforma as entradas do sensor em sinais conduzidos por USB ou Bluetooth para os diversos consoles e computadores.',
    'Atualmente muitas pessoas tetraplegicas estão ingressando na carreira de streamer utilizando esta ferramenta.'
  ]"
></artigo>
<artigo
  artigoImagem="https://i.imgur.com/pHrIfzb.jpg"
  artigoImageAlt="Controle assistivo da Playstation com diversos botões."
  artigoDescImage="Imagem retirada do site da Playstation/Sony."
  artigoTitulo="Controles adaptaveis."
  [artigoDescricoes]="[
    'Nos dias atuais as grandes empresas como a Playstation, Xbox e Nintendo revolucionaram em questão da acessibilidade para o seus consoles com os novos controles adaptaveis, onde são totalmente personalizaveis e com entradas para dispositivos externos, como switches, botões e joysticks.',
    'A primeira dessas empresas a lançar este produto foi a Xbox na seguinte data dia 20 de Abril de 2021, já a Playstation será lançado na data do dia 6 de Dezembro de 2023, mas já se encotra na pré-venda, enquanto isso a Nintendo ainda esta projetando o seu controle, mas promete ter as mesmas funcionalidades de seus concorrentes.'
  ]"
></artigo>
<artigo
  artigoImagem="https://i.imgur.com/FHP39wo.jpg"
  artigoImagemAlt="Remapeamento de botões do console Xbox series S."
  artigoDescImage="Remapeamento de botões do console Xbox series S/retirada do site da Xbox."
  artigoTitulo="Remapeamento de botões."
  [artigoDescricoes]="[
    'Esse software traz a possibilidade do usuario poder configurar e alterar o botões de acordo com sua necessidade, como pode notar na image acima todos os botões são configuraveis, assim tornando mais facil na hora de jogar seus jogos.',
    ' Para as pessoas que possuiem deficiencia motora, esse software é algo muito importante ter tanto nos consoles e nos jogos, pois ele ajuda realmente a reduzir a dificuldade do jogador para apertar certos botões.'
  ]"
></artigo>
<artigo
  artigoImagem="https://i.imgur.com/sOuVHbc.jpg"
  artigoImagemAlt="Imagem das configurações de video do jogo Fortnite."
  artigoDescImage="Imagem das configurações de video do jogo Fortnite."
  artigoTitulo="Modo daltonismo."
  [artigoDescricoes]="[
    'Presente em quase todos os jogos da epoca atual, o modo daltonismo tem a função de mudar as cores nos jogos e nos consoles, variando com o tipo de daltonismo como Tritanopia, Protanopia e Deuteranopia.',
    'Por ser algo simples, ele é muito utilizado pelas pessoas com daltonismo quanto sem, por melhor certos contrates.'
  ]"
></artigo>
<artigo
  artigoImagem="https://i.imgur.com/OX9K5cU.png"
  artigoImagemAlt="Imagem do jogo Far Cry New Danw com legenda do personagem"
  artigoDescImage="Imagem do jogo Far Cry New Danw com legenda do personagem/Ubisoft."
  artigoTitulo="Legendas "
  [artigoDescricoes]="[
    'Já se tornou algo muito comum a utilização de legendas em filmes, series, animes e videos. O objetivo deste software é fazer a transcrição de audio para legendas.',
    'Essa opção é muito utilizado por pessoas com deficiencia auditiva e sem deficiencia.'
  ]"
></artigo>
