/* @media (max-width: 768px) {
    .game-card_container {
        flex-direction: column;
        margin: auto;
    }
    
} */

.game-card_container {
    display: flex;
    flex-direction: row;

    width: 50%;
    margin: 0 auto;
    margin-bottom: 2rem;

    background: linear-gradient(to bottom,rgb(0, 0, 104),blue) ;
}

.game-card-img_container {
    margin: 2rem;
    margin-right: 1rem;

    width: 100%;
}

.game-card-img_container > img {
    width: 100%;
}

.game-card-conteudo_container {
    display: flex;
    flex-direction: column;

    justify-content: center;

    margin: 2rem;
    margin-left: 1rem;
}

@media (max-width: 1024px) {
    .game-card_container {
        flex-direction: column;
    }

    .game-card-img_container {
        margin: 0;
    }
}

@media (max-width: 768px) {
    .game-card_container {
        width: 75%;
    }
}

@media (max-width: 425px) {
    .game-card_container {
        width: 90%;
    }
}

