.page-body {
    background-color: black;
    padding:20px;
    display: flex;
    justify-content: center;
    min-height: 63vh;
}
.header{
    position: sticky;
    top: 0px
}
.footer{
    bottom: 0;
    width: 100%;
}

@media (max-width: 600px) {
    .facet_sidebar {
        display:none;
    }
}