<div class="artigo__container">
  <artigo
    artigoImagem="https://i.imgur.com/CAKBWZE.jpg"
    artigoImageAlt="Banner com fundo azul, detahlhes e palavras em branco escrito AUDITIVA,VISUAL,MOTORA e INTELECTUAL ao lado de um controle de PS4. "
    artigoDescImage="Imagem criada com base em representaçãoes da internet."
    artigoTitulo="O que é a acessibilidade digital nos Games?"
    [artigoDescricoes]="[
      'A acessibilidade digital nos games refere-se à prática de tornar os jogos eletrônicos mais acessíveis e inclusivos para pessoas com diferentes tipos de necessidades, incluindo aquelas com deficiências físicas, sensoriais, cognitivas ou outras limitações. O objetivo é permitir que todos possam desfrutar dos jogos, independentemente de suas habilidades ou condições de saúde.'
    ]"
  ></artigo>
  <artigocard
    *ngFor="let artigo of artigoDatabase"
    routerLink="artigo/{{ artigo.artigoId }}"
    artigoCardImg="{{ artigo.artigoImg }}"
    artigoCardImgAlt="{{ artigo.artigoImgAlt }}"
    artigoCardTitulo="{{ artigo.artigoTitulo }}"
    artigoCardDescricao="{{ artigo.artigoDescricao }}"
  ></artigocard>
</div>
